<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Microsoft Managed Recommended Rules" ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2227" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1307" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1500" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1208" Action="None" />
  </Rules>
</RuleSet>